<table border = "1">
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Nº de Pets</th>
    </tr>
    <tr>
        <td>Paulo Vinícius Fernandes</td>
        <td>000.000.000-00</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Paulo Victor Oliveira</td>
        <td>111.111.111-11</td>
        <td>24</td>
    </tr>
    <tr>
        <td>Manoel Alves</td>
        <td>222.222.222-22</td>
        <td>69</td>
    </tr>
    <tr>
        <td>Rafael Carneiro</td>
        <td>333.333.333-33</td>
        <td>420</td>
    </tr>
    <tr>
        <td>Pedro Henrique</td>
        <td>444.444.444-44</td>
        <td>666</td>
    </tr>
</table>
