<h2 id="pageTitle">Donos cadastrado</h2>

<p-table [value]="owners">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Nome</th>
            <th pSortableColumn="age">Idade</th>
            <th pSortableColumn="fone">Fone</th>
            <th pSortableColumn="cpf">Cpf</th>
            <th pSortableColumn="address">Endereço</th>
            <th pSortableColumn="email">Email</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-owner>
        <tr>
            <td>{{owner.name}}</td>
            <td>{{owner.age}}</td>
            <td>{{owner.fone}}</td>
            <td>{{owner.cpf}}</td>
            <td>{{owner.address}}</td>
            <td>{{owner.email}}</td>
        </tr>
    </ng-template>
</p-table>