<table>
    <tr>
      <td>Nome:</td>
      <td><input type="text" name="nome" size="40"> <br /></td>
    </tr>
    <tr>
      <td>CPF:</td>
      <td><input type="text" name="sobrenome" size="40"> <br /></td>
    </tr>
    <tr>
        <td>Idade:</td>
        <td><input type="text" name="CPF" size="40"> <br /></td>
    </tr>
    <tr>
        <td>Endereço:</td>
        <td><input type="text" name="endereço" size="40"> <br /></td>
    </tr>
    <tr>
        <td>Fone:</td>
        <td><input type="text" name="fone" size="40"> <br /></td>
    </tr>
    <tr>
        <td>E-mail:</td>
        <td><input type="text" name="e-mail" size="40"> <br /></td>
    </tr>
</table>
