<p-table [value]="appointments">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="data">Data</th>
            <th pSortableColumn="horario">Horário</th>
            <th pSortableColumn="veterinario">Veterinário</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-appointment>
        <tr>
            <td>{{appointment.data}}</td>
            <td>{{appointment.horario}}h</td>
            <td>{{appointment.veterinario}}</td>
        </tr>
    </ng-template>
</p-table>
