<html>

<h1>
  EasyPet
</h1>
<nav style="margin-bottom: 40px;">
  <a style="text-decoration: none;" routerLink="/">&emsp;início</a>
  <a style="text-decoration: none;" routerLink="/consultas">&emsp;|&emsp;consultas</a>
  <a style="text-decoration: none;" routerLink="/desmarcar">&emsp;|&emsp;desmarcar consultas</a>
  <a style="text-decoration: none;" routerLink="/pet_list">&emsp;|&emsp;lista de pets</a>
  <a style="text-decoration: none;" routerLink="/historico" id="historico">&emsp;|&emsp;historico de consultas</a>
  <br />
</nav>

<router-outlet></router-outlet>

</html>
