
<html>
    <body>
        <h2>Consultas agendadas</h2>
        <div *ngIf="agendamentos.length == 0">
            <h3>Nao ha agendamentos marcados</h3>
        </div>
        <div *ngFor="let agendamento of agendamentos" name="agendamentoList">
            <h3>
                    Data: <div name="agendamentoData">{{ agendamento.data}}</div> Pet: <div name="petName">{{agendamento.pet.nome}}</div> 
            </h3>
            <button (click)="desmarcar(agendamento)">
                Desmarcar
            </button>
        </div>
    </body>
</html>